* {
  font-size: 24px;
  background: #F3F5FC;
  font-family: 'Inter';
  color: #333;
}
/*
header img {
  width: 95vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2vh;
}

.izquierda-textarea {
  width: 95vw;
  margin-left: 5vw;
  border: 0;
  resize: none;
  
}

::placeholder { color:#0A3871 }

.izquierda-textarea:focus {
  outline: none;
} 

.subflex-content {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin-right: 5vw;
}

.subflex-content p {
  margin-bottom: 1vh;
  font-size: 0.5em;
}

.btn-encripta-izquierda {
  font-size: .75em;
  vertical-align: middle;
  padding: 2vh;
  margin-bottom: 1vh;
  border-radius: 15vw;
  background-color: #3366FF;
  color: #fff;
  font-weight: 700;
}

.btn-desencripta-izquierda {
  font-size: .75em;
  vertical-align: middle;
  padding: 2vh;
  margin-bottom: 1vh;
  border-radius: 15vw;
  background-color: #ddd;
  font-weight: 700;
}

.content-textarea {
  width: 90vw;
  border:o;
  border-radius: 15vw;
  background-color: #fff;
  padding: 5vh 1vw 10vh 1vw;
  margin: 2.5vw;
  position: relative;
  box-shadow: 3px 10px 50px 1px #DDDDDD;
  justify-items: center;
  align-items: center;
}

.derecha-textarea {
  border: 0;
  width: 85%;
  margin-left:7%;
  background-color: #fff;
  outline: none;
  position: relative;
  resize: none;
}*/

@media screen and (min-width: 600px){
  html {
    display: flex;
    justify-content: center;
    background-color: aqua;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50vw;
    height: 80vh;
    padding-bottom: 0vh;
    flex-wrap: wrap;
  }

  header img {
    width: 25vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }

  .content-izquierda {
    display: flex;
    flex-direction: column;
  }

  .izquierda-textarea {
    width: 20vw;
    height: 50vh;
    margin-left: 5vw;
    border: 0;
    resize: none;
  }

  ::placeholder { color:#0A3871 }

  .izquierda-textarea:focus {
    outline: none;
  } 

  .subflex-content p {
    margin-bottom: 0vh;
    font-size: .6em;
    padding: 1vw;
  }

  .subflex-content {
    width: auto;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin-left: 1vw;
    margin-right: 1vw;
    position: relative;
  } 

  .btn-encripta-izquierda {
    width: 10vw;
    height: 4vh;
    font-size: .75em;
    vertical-align: middle;
    padding: 1.2vw;
    margin-bottom: 1vh;
    border-radius: 10vw;
    background-color: #3366FF;
    color: #fff;
    font-weight: 700;
  }
  
  .btn-desencripta-izquierda {
    width: 10vw;
    height: 4vh;
    font-size: .75em;
    vertical-align: middle;
    padding: 1.2vw;
    margin-bottom: 1vh;
    border-radius: 10vw;
    background-color: #ddd;
    font-weight: 700;
  }








}